#reset{
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 10px;
}

#color{
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 10px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
  
    
    
}
#square{
    display: flex;
    width: 500px;
    height: 500px;
    background-color: pink;
    flex-wrap: wrap;
    border: 1px black;
    border-style: dashed;
    margin-bottom: 20px;
    
    
    
}

.sketchpad{
    display: flex;
    justify-content: center;
  

}

.header{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 50px;
    font-weight: bold;
}